[Bug]: `htu` claim is not verified correctly

### Contact Details

olleai@axis.com

### Describe the bug

In parse.go, the htu is string matched to the httpurl string. According to the RFC, it should ignore any query and fragment parts. Quote:

https://datatracker.ietf.org/doc/html/rfc9449#section-4.3-2.9
> The htu claim matches the HTTP URI value for the HTTP request in which the JWT was received, ignoring any query and fragment parts.

The offending line(s)
```go
	// Check that `htm` and `htu` claims match the HTTP method and URL of the current request.
	// This satisfies point 8 and 9 in https://datatracker.ietf.org/doc/html/draft-ietf-oauth-dpop#section-4.3
	if httpMethod != claims.Method || httpURL.String() != claims.URL {
		return nil, errors.Join(ErrInvalidProof, ErrIncorrectHTTPTarget)
	}
```

### Steps to reproduce the behavior

Try to match htu without a query param with a http request url with a query param

### OS

_No response_

### Relevant log output

_No response_

### Additional Notes

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

FYI. We also just found this about the URL comparison:

> To reduce the likelihood of false negatives, servers SHOULD employ syntax-based normalization (Section 6.2.2 of [RFC3986]) and scheme-based normalization (Section 6.2.3 of [RFC3986]) before comparing the htu claim.